*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(red,blue,greenyellow);
   display: flex;
   align-items: center;
   justify-content: center;
}
.calendar{
    width: 300px;
    height: 250px;
   display: flex;
    align-items: center;
    border-radius: 20px;

}
.left,.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: 24px;

}
.right{
    background-color: red;
    color:white;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    font-size: 30px;
}
.left{
    width: 50%;
   background:#7fff00;
   color:black;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px ;
}
#date{
    font-size: 100px;
    line-height: 90px;
    margin: 15px;
}
#year{
    margin:15px ;
    
}